---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="max-w-3xl w-full mx-auto px-3 flex-grow pb-16">
        <section class="pt-20">
            <h1 class="text-4xl font-bold">Contact</h1>
            <p class="text-lg pt-2">
                Vous pouvez me contacter par email à l'adresse suivante : <br />
                <a class="font-medium" href="mailto:valentin@gerest.fr">valentin@gerest.fr</a>
            </p>
        </section>
    </main>
</Layout>