---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<main class="max-w-3xl mx-auto px-3 flex-grow pb-16">
		<section class="pt-20">
			<p class="text-xl">Hello, je m'appelle</p>
			<h1 class="text-6xl py-6 font-bold ">Valentin GEREST</h1>
			<h2 class="text-5xl ">Je suis <span class="font-medium">développeur full stack</span></h2>
		</section>

		<section class="py-15">
			<p class="max-w-2xl">
				J'ai plus de <b>5 ans d'expérience</b> professionnelle dans le développement web, en particulier avec <b>Typescript</b>, <b>node.js</b> et <b>React</b>, mais j'ai également de l'expérience avec d'autres technologies telles que <b>Python</b>, le <b>devops</b> (AWS, GCP et Azure), la <b>CI/CD</b> sur Github, Azure DevOps, etc.
			</p>
		</section>
		
		<section class="border-l-2 border-dashed p-4 relative flex flex-col gap-6">
			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">Galadrim - Tech Lead branche IA</p>
				<p class="text-sm">juillet 2024 - mai 2025</p>
			</article>

			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">Galadrim - Développeur full stack</p>
				<p class="text-sm">janvier 2020 - juillet 2024</p>
			</article>

			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">Stage recherche Tokyo NII</p>
				<p class="text-sm">janvier 2020 - juillet 2024</p>
			</article>

			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">Stage recherche Tokyo NII</p>
				<p class="text-sm"> mars 2019 - septembre 2019</p>
			</article>

			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">ENSEEIHT - Info math appliquées</p>
				<p class="text-sm">2016 - 2019</p>
			</article>

			<article class="relative before:content-[''] before:absolute before:left-[-23px] before:top-2 before:w-3 before:h-3 before:rounded-full before:bg-red-400">
				<p class="font-medium">Prépa MP Champollion Grenoble</p>
				<p class="text-sm">2014 - 2016</p>
			</article>
		</section>

		<section class="flex flex-col gap-6 pt-12">
			<h2 class="text-4xl font-bold">Mes compétences</h2>
			<div class="flex flex-col gap-4">
				<div class="flex flex-col gap-2">
					<h3 class="text-2xl font-bold">Technologies</h3>
					<p class="text-sm">Typescript, Node.js, React, Python, AWS, GCP, Azure, CI/CD, etc.</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
