---
import AvailableDot from "../components/AvailableDot.astro";
import Avatar from "../components/Avatar.astro";
import Button from "../components/Button.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import PageMeta from "../components/PageMeta.astro";
import TimelineMilestone from "../components/TimelineMilestone.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="head">
    <PageMeta
      title="Valentin GEREST - développeur full stack"
      description="Valentin GEREST - développeur full stack"
    />
  </Fragment>

  <main class="mx-auto w-full max-w-5xl px-3 pb-20">
    <section
      class="flex flex-col-reverse flex-wrap items-center justify-center gap-10 pt-4 sm:pt-20 lg:flex-row lg:justify-between"
    >
      <div class="flex flex-col justify-center text-center lg:text-left">
        <p class="text-2xl sm:text-4xl">Bonjour, je m'appelle</p>
        <h1 class="py-3 text-3xl font-bold sm:py-6 sm:text-8xl">
          Valentin <br /> GEREST
        </h1>
        <p class="mt-3 text-xl sm:mt-0 sm:text-3xl">
          Je suis développeur full-stack
        </p>
        <p class="pt-4 text-neutral-600 dark:text-neutral-300">
          React, Typescript, Node.js, Next.js
        </p>
        <div class="flex flex-col items-center gap-4 pt-8 lg:flex-row">
          <Button> Télécharger mon CV </Button>
          <div class="flex flex-row gap-2 pl-0 lg:pl-5">
            <Button
              size="sm"
              href="https://www.linkedin.com/in/valentin-gerest/"
            >
              <LinkedInIcon class="h-4 w-4" />
            </Button>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <!-- <img
          src="/profile_picture.webp"
          alt="Photo de Valentin GEREST"
          class="rounded-full border-4 border-white dark:border-none shadow-lg w-60 sm:w-100 aspect-square bg-[#e4e4e4] text-transparent animate-fade-in ease-out-expo"
        /> -->
        <Avatar size="lg" class="sm:w-100" />
      </div>
    </section>

    <section class="mt-10 pl-4 sm:mt-22 sm:pr-4">
      <div
        class="mx-auto mt-8 flex max-w-4xl flex-col gap-2 border-l-2 border-dashed border-neutral-300 py-6 sm:mt-16 sm:px-3 sm:py-20 dark:border-neutral-600"
      >
        <article class="relative flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="green" />
          <p
            class="hidden w-full pl-0 text-4xl text-neutral-400 sm:block sm:pl-4"
          >
            now
          </p>
          <div class="w-full">
            <h3 class="text-xl font-bold">Développeur full-stack freelance</h3>
            <p class="text-neutral-600 dark:text-neutral-300">
              depuis juin 2025
            </p>
            <p class="mt-3 sm:text-justify">
              Disponible pour une mission
              <AvailableDot />
              <div class="mt-3">
                <Button href="mailto:valentin@gerest.fr">
                  Contactez moi
                </Button>
              </div>
            </p>
          </div>
        </article>

        <article class="relative mt-8 flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="neutral" />
          <p
            class="hidden w-full pl-0 text-4xl text-neutral-400 sm:block sm:pl-4"
          >
            2024-2025
          </p>
          <div class="w-full">
            <h3 class="text-lg font-bold">Galadrim - Tech Lead branche IA</h3>
            <p class="text-neutral-600 dark:text-neutral-300">
              juillet 2024 - mai 2025
            </p>
            <p class="mt-3 sm:text-justify">
              En tant que tech lead, j’ai architecturé des solutions
              applicatives intégrant des technologies d’intelligence
              artificielle et mentoré nos développeurs dans leur mise en œuvre.
            </p>
          </div>
        </article>

        <article class="relative mt-8 flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="neutral" />
          <p
            class="hidden w-full pl-0 text-4xl text-neutral-400 sm:block sm:pl-4"
          >
            2020-2024
          </p>
          <div class="w-full">
            <h3 class="text-lg font-bold">Galadrim - Développeur full-stack</h3>
            <p class="text-neutral-600 dark:text-neutral-300">
              janvier 2020 - juillet 2024
            </p>
            <p class="mt-3 sm:text-justify">
              Développeur fullstack, j’ai conçu, déployé et maintenu de nombreux
              projets en autonomie. J’ai également contribué à des applications
              complexes sur plusieurs années, au sein d’équipes conséquentes. En
              contact direct avec les clients, j’ai géré leurs besoins, proposé
              des solutions et assuré le suivi, un rôle très proche de celui
              d’un freelance.
            </p>
          </div>
        </article>

        <article class="relative mt-8 flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="neutral" />
          <p
            class="hidden w-full pl-0 text-2xl text-neutral-400 sm:block sm:pl-4"
          >
            2019
          </p>
          <div class="w-full">
            <h3 class="text-lg font-bold">Stage recherche Tokyo NII</h3>
            <p class="text-neutral-600 dark:text-neutral-300">
              mars 2019 - septembre 2019
            </p>
          </div>
        </article>

        <article class="relative flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="neutral" />
          <p
            class="hidden w-full pl-0 text-2xl text-neutral-400 sm:block sm:pl-4"
          >
            2016-2019
          </p>
          <div class="w-full">
            <h3 class="text-lg font-bold">ENSEEIHT - école d'ingénieur</h3>
            <p class="text-neutral-600 dark:text-neutral-300">2016 - 2019</p>
          </div>
        </article>

        <article class="relative flex py-2 pl-6 sm:px-3">
          <TimelineMilestone color="neutral" />
          <p
            class="hidden w-full pl-0 text-2xl text-neutral-400 sm:block sm:pl-4"
          >
            2014-2016
          </p>
          <div class="w-full">
            <h3 class="text-lg font-bold">Prépa MP Champollion Grenoble</h3>
            <p class="text-neutral-600 dark:text-neutral-300">2014 - 2016</p>
          </div>
        </article>
      </div>
    </section>
  </main>
</Layout>
