---
interface Props {
  color: "neutral" | "green";
}

const { color = "neutral" } = Astro.props;
const colors = {
  neutral: "bg-white dark:bg-neutral-800 dark:border-white",
  green: "border-green-600 bg-white dark:bg-neutral-800 dark:border-green-600",
};
---

<div
  class:list={[
    "absolute top-[9px] left-[-13px] h-6 w-6 rounded-full border-8 sm:top-[12px] sm:left-[-30px] sm:h-8 sm:w-8",
    colors[color],
  ]}
>
</div>
